.card {
	width: 20%;
	margin-left: -64%;
	text-align: center;
}

.search {
	margin-top: -15%;
}
.input {
	width: 50%;
	margin-top: -25%;
}
.editInput {
	width: 100%;
	margin-left: 5%;
}
.myBtn {
	width: 50%;
	margin-left: 24%;
}
.inputSearch {
	text-align: center;
	width: 25%;
	height: 10%;
	margin-top: -20%;
}
